html, body{
	height: 100%;
	width: 100%;
  margin: 0;
}

body{
	background-image: url(Version4.jpg);
	background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}

#box {
   display: flex;
   align-items:center;
   text-align: center;
   justify-content: center;
}

img {
  	top: 30%;
    width: 13em;
    position: absolute;
  }